{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
  {% for genre in genres %}
    {{genre}}
    {{genre.id}}
    {{genre.name}}
    {{user}}
    {% comment %} {% for genreaaa in genre.like_users %}{{genreaaa}}{% endfor %} {% endcomment %}
    {{genre.like_users}}
    <form action="{% url 'community:like_choose' user genre.id  %}" method="post">
      {% csrf_token %}
      {% if user in genre.like_users.all %}
        <button type="submit" class="btn btn-info btn-lg" id="inlineCheckbox{{ids.id}}" autocomplete="on">
        {{genre.name}}</button>
      {% else %}
        <button type="submit" class="btn btn-light btn-lg" id="inlineCheckbox{{ids.id}}" autocomplete="on">
        {{genre.name}}</button>
      {% endif %}
    </form>
  {% endfor %}
      <hr>
{% endblock body %}