  <h3 class="text-center">선호하는 장르를 선택해주세요!</h3>
  <hr>
  <div class="row m-0 my-5 row-cols-1 row-cols-md-6 g-3">
  {% for genre in genres %}
    {% comment %} {{genre}}
    {{genre.id}}
    {{genre.name}}
    {{user}} {% endcomment %}
    {% comment %} {% for genreaaa in genre.like_users %}{{genreaaa}}{% endfor %} {% endcomment %}
    {% comment %} {{genre.like_users}} {% endcomment %}
    
    <form action="{% url 'community:like_choose' user genre.id  %}" method="post">
      {% csrf_token %}
      {% if user in genre.like_users.all %}
        <button type="submit" class="btn btn-info btn-lg btnsize" id="inlineCheckbox{{ids.id}}" autocomplete="on">
        {{genre.name}}</button>
      {% else %}
        <button type="submit" class="btn btn-light btn-lg btnsize" id="inlineCheckbox{{ids.id}}" autocomplete="on">
        {{genre.name}}</button>
      {% endif %}
    </form>
  {% endfor %}
  </div>
  <style>
    .btnsize {width: 100%;}
  </style>
      <hr>
