{% extends 'base.html' %}
{% load bootstrap5 %}
{% block body %}
  <div class="d-flex justify-content-center" style="margin-top: 20px">
  <div class="center-block" style="background: #2c3034; width: 800px; border: 1px solid #373b3e; padding: 20px">
  <div class="d-flex justify-content-between">
    <h1>{{ community_review.title }}</h1>
    <p style="margin-top: 10px">{{ community_review.user_id }}</p>
  </div>
  
  <hr>
  
  <p>{{ community_review.content }}</p>
  <hr>
  {% for comment in community_comment %}
    <p>{{comment.content}}</p>
  {% endfor %}
  <div>
  <form class="d-flex justify-content-center" action="{% url 'community:comments_create' community_review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form community_commentForm %}
    <input type="submit" class="btn btn-primary" value="댓글 등록" style="height: 50%; margin-top: 32px; margin-left: 10px">
  </form>
  </div>
  </div>
{% endblock %}