{% extends 'base.html' %}
{% load bootstrap5 %}
{% block body %}
  <div class="d-flex justify-content-center" style="margin-top: 20px">
  <div class="center-block" style="background: #2c3034; width: 800px; border: 1px solid #373b3e; padding: 20px">
  <div class="d-flex justify-content-between">
    <h1>{{ community_review.title }}</h1>
    <div class="d-flex">
    <p style="margin-top: 10px">작성자 : {{ community_review.user_id }}</p>
    {% if user == community_review.user_id %}
      <form action="{% url 'community:delete' community_review.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary" value="삭제" style="height: 70%; margin-left: 15px">
      </form>
    {% endif %}
    </div>
  </div>
  
  <hr>
  
  <p>{{ community_review.content }}</p>
  <hr>
  {% for comment in community_comment %}
    <div class="d-flex">
      <p>{{comment.content}}</p>
      {% if user == comment.user_id %}
        <form action="{% url 'community:comment_delete' comment.pk%}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-secondary" value="삭제" style="height: 70%; margin-left: 15px">
        </form>
      {% endif %}
    </div>
  {% endfor %}
  <div>
  <form class="d-flex justify-content-center" action="{% url 'community:comments_create' community_review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form community_commentForm %}
    <input type="submit" class="btn btn-secondary" value="댓글 등록" style="height: 50%; margin-top: 32px; margin-left: 10px">
  </form>
  </div>
  </div>
{% endblock %}